.aelf-web-logout-dialog-title-wrap {
  margin: 40px 0 12px 0;
}
.aelf-web-logout-dialog-title {
  text-align: center;
}
.aelf-web-logout-dialog-sub-title {
  margin-top: 12px;
  text-align: center;
}
.aelf-web-logout-dialog-btn-wrap {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.aelf-web-logout-dialog-btn-wrap button:first-child {
  margin-bottom: 12px;
}

.aelf-web-extra-wallets-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-bottom: 36px;
}
.aelf-web-extra-wallets {
  display: flex;
  justify-content: space-between;
}
.aelf-web-extra-image {
  display: flex;
  flex: 1;
  justify-content: center;
}
.aelf-web-extra-image > img{
  cursor: pointer;
}
