.aelf-web-logout-dialog-title-wrap {
  margin: 12px 0;
}
.aelf-web-logout-dialog-title {
  text-align: left;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
  color: var(--sds-color-text-default-default);
}
.aelf-web-extra-wallets-wrapper-social .aelf-web-logout-dialog-title {
  text-align: center;
}
.aelf-web-logout-dialog-sub-title {
  font-size: 16px;
  line-height: 140%;
  color: var(--sds-color-text-default-default);
}
.aelf-web-logout-dialog-mt-12 {
  margin-top: 12px;
}
.aelf-web-logout-dialog-btn-wrap {
  display: flex;
  padding: 8px 0 0;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.aelf-web-logout-dialog-btn-wrap button {
  height: 48px;
  flex: 1;
  border-radius: 999px;
  font-size: 16px;
}

.aelf-web-logout-dialog-btn-wrap button:first-child {
  border: 1.5px solid var(--sds-color-border-neutral-secondary);
}

.aelf-web-logout-dialog-btn-wrap button:first-child:hover,
.aelf-web-logout-dialog-btn-wrap button:first-child:active {
  color: var(--sds-color-text-brand-on-brand);
  border-color: var(--sds-color-border-neutral-secondary) !important;
}

.aelf-web-logout-dialog-btn-wrap button:last-child {
  border: none;
  background: var(--sds-color-background-danger-default) !important;
  color: var(--sds-color-text-danger-on-danger) !important;
}

.aelf-web-logout-dialog-btn-wrap button:last-child span {
  color: var(--sds-color-text-danger-on-danger) !important;
}

.aelf-web-logout-dialog-btn-wrap button:last-child:hover,
.aelf-web-logout-dialog-btn-wrap button:last-child:active {
  background: var(--sds-color-background-danger-hover) !important;
}
.aelf-web-logout-dialog-btn-wrap button span {
  color: var(--sds-color-text-default-default);
}

.aelf-web-extra-wallets-wrapper-crypto {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-bottom: 36px;
}
.aelf-web-extra-wallets-wrapper-social {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  padding-top: 36px;
  padding-bottom: 8px;
}
.crypto-extra-wallets {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 13px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  font-size: 16px;
  border: 1.5px solid var(--sds-color-border-neutral-secondary) !important;
  background: transparent;
  cursor: pointer;
}
.web2-extra-wallets {
  border-radius: 24px;
}
.crypto-extra-wallets-left {
  color: var(--sds-color-text-default-default);
  line-height: 100%;
  font-weight: 600;
}
.crypto-extra-image {
  display: flex;
  width: 16px;
  height: 16px;
  gap: 12px;
  justify-content: flex-end;
}
.crypto-extra-image-arrow {
  width: 12px;
}

.crypto-wallets-title {
  color: #b6babf;
}

.social-design-wallet-wrapper {
  width: 100%;
  height: 56px;
  padding-left: 40px;
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  border: 1px solid #c5cbd5;
  background: transparent;
}
.social-design-wallets {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-design-wallet-wrapper > img {
  width: 28px;
  height: 28px;
}
.web-login-unlock-wrapper > div:nth-child(2) {
  height: 100%;
}

.nested-connect-modal > div:nth-child(2) {
  height: 100%;
}
.nested-title {
  text-align: left;
}
.nested-title-12 {
  padding: 12px;
  text-align: center;
}
.nested-header {
  margin-bottom: 16px;
}
.aelf-web-logout-dialog-title {
  padding-bottom: 8px;
}
.aelf-web-logout-dialog-title.aelf-web-logout-dialog-title-text {
  padding: 0;
}
.nested-left-icon {
  cursor: pointer;
  position: absolute;
  left: 16px;
  top: 20px;
}
.nested-close-icon {
  position: absolute;
  right: 24px;
  top: 16px;
  cursor: pointer;
}
.nested-entry-wrapper {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 16px;
  padding: 16px 0;
}
.nested-entry-wrapper-mobile {
  padding-top: 24px;
}
.social-design-wallet-wrapper,
.nested-wallet-wrapper {
  gap: 8px;
  cursor: pointer;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: var(--sds-size-space-200);
  align-self: stretch;
  border-radius: 28px;
  border: var(--Stroke-Border-Medium, 1.5px) solid var(--sds-color-border-neutral-secondary);
}
.nested-wallet-wrapper:hover > span {
  color: #5b8ef4;
}
.social-design-wallet-wrapper > img,
.nested-wallet-wrapper > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.nested-drawer-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.unlock-footer-text {
  color: #55585e;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 20px;
  margin-left: 14px;
  margin-right: 14px;
}

.unlock-footer-text .unlock-footer-text-href {
  color: #5d42ff;
  padding: 0 4px;
  cursor: pointer;
}

.nested-connect-modal .portkey-ant-modal-content {
  padding: 16px;
}

.nested-connect-modal.portkey-ant-modal-wrap .portkey-ant-modal-header {
  margin: 0;
}

.nested-wallet-connect-text {
  color: var(--sds-color-text-default-default);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
}

.nested-wallet-connect-text:hover {
  color: var(--portkey-ant-primary-color-hover);
}

.aelf-web-conntect-drawer {
  padding: 0 16px;
}

.aelf-web-conntect-drawer .portkey-ant-drawer-header {
  /* display: none; */
  padding: 6px 0;
  height: 15px;
  border: none;
}

.portkey-ui-common-modals.sign-out-confirm-modal .portkey-ant-modal-content {
  padding: 16px;
}

.portkey-ui-common-modals.sign-out-confirm-modal .portkey-ui-close-icon {
  display: none;
}

.portkey-ui-common-modals.sign-out-confirm-modal .confirm-tip-icon svg path {
  fill: var(--sds-color-icon-default-default);
}

.portkey-ui-common-modals.sign-out-confirm-modal .portkey-ant-drawer-body {
  padding: 16px;
}

.portkey-ui-common-modals.sign-out-confirm-modal .portkey-ant-drawer-content {
  border-radius: 0;
}

.portkey-ui-common-modals.sign-out-confirm-modal
  .portkey-ant-drawer-content
  .aelf-web-logout-dialog-btn-wrap {
  padding-top: 24px;
  padding-bottom: 32px;
}

.aelf-web-logout-dialog-header .light-close.close-icon svg path {
  stroke: var(--sds-color-icon-default-default);
}

.aelf-web-logout-dialog-header .dark-close.close-icon svg path {
  stroke: var(--sds-color-icon-default-default);
}
