.aelf-web-logout-dialog-title-wrap {
  margin: 40px 0 12px 0;
}
.aelf-web-logout-dialog-title {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}
.aelf-web-logout-dialog-sub-title {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.aelf-web-logout-dialog-mt-12{
  margin-top: 12px;
}
.aelf-web-logout-dialog-btn-wrap {
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}
.aelf-web-logout-dialog-btn-wrap button:first-child {
  margin-bottom: 12px;
}
.aelf-web-logout-dialog-btn-wrap button{
  height: 40px;
}

.aelf-web-extra-wallets-wrapper-crypto {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
  padding-bottom: 36px;
}
.aelf-web-extra-wallets-wrapper-social {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  padding-top: 36px;
  padding-bottom: 8px;
}
.crypto-extra-wallets {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 13px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  border: 1px solid #c5cbd5;
  background: #fff;
  cursor: pointer;
}
.web2-extra-wallets {
  border-radius: 4px;
}
.crypto-extra-wallets-left {
  color: #515a62;
}
.crypto-extra-image {
  display: flex;
  height: 20px;
  gap: 12px;
}
.crypto-extra-image-arrow {
  width: 12px;
}

.crypto-wallets-title {
  color: #b6babf;
}

.social-design-wallet-wrapper {
  width: 100%;
  height: 56px;
  padding-left: 40px;
  display: flex;
  gap: 12px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  border: 1px solid #c5cbd5;
  background: #fff;
}
.social-design-wallets {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-design-wallet-wrapper > img {
  width: 28px;
  height: 28px;
}
.web-login-unlock-wrapper > div:nth-child(2) {
  height: 100%;
}

.nested-connect-modal > div:nth-child(2) {
  height: 100%;
}
.nested-title {
  text-align: center;
}
.nested-title-12 {
  padding: 12px;
  text-align: center;
}
.nested-left-icon {
  cursor: pointer;
  position: absolute;
  left: 16px;
  top: 20px;
}
.nested-close-icon {
  position: absolute;
  right: 24px;
  top: 16px;
  cursor: pointer;
}
.nested-entry-wrapper {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 36px 60px;
}
.nested-entry-wrapper-mobile {
  padding-top: 24px;
}
.nested-wallet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;
  cursor: pointer;
}
.nested-wallet-wrapper:hover > span {
  color: #5b8ef4;
}
.nested-wallet-wrapper > img {
  width: 48px;
  height: 48px;
}
.nested-drawer-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
