.aelf-web-login-btn {
  align-items: center;
  border: 1px solid var(--portkey-ui-border-1);
  border-radius: var(--portkey-ui-primary-border-radius);
  color: var(--portkey-ui-text-secondary);
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: var(--portkey-ui-default-btn-h);
  margin-bottom: 12px;
}
