/* drawer */
.web-login-connect-modal-content-wrapper {
  position: absolute;
  z-index: 1000;
  max-width: 100vw;
  transition: all 0.3s;
  bottom: 0;
  inset-inline: 0;
  box-shadow: 0 -6px 16px 0 rgba(0, 0, 0, 0.08), 0 -3px 6px -4px rgba(0, 0, 0, 0.12), 0 -9px 28px 8px rgba(0, 0, 0, 0.05);
}
.web-login-connect-modal-content-wrapper-hidden {
  display: none;
}
/* drawer end */

.web-login-connect-modal-wrap {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-login-connect-modal-mask {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  pointer-events: none;
}

.web-login-connect-modal-centered {
  text-align: center;
}

.web-login-connect-modal .web-login-connect-modal-content {
  padding: 0;
  border-radius: 8px;
}

.web-login-connect-wallet-modal-dark {
  background: #151318 !important;
}

.web-login-connect-wallet-modal-dark .web-login-connect-modal-content,
.web-login-connect-wallet-modal-dark .web-login-connect-modal-body {
  background: #151318;
  border-radius: 8px;
  border: none;
  /*border: 1px solid #414142;*/
  box-shadow: 0 0 0 0.5px #414142;
}

.web-login-page-close-wrap {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  /*padding-top: 4px 8px 0 16px;*/
}
.connect-wallet-close-inner {
  padding: 10px;
}
.connect-wallet-close-image {
  height: 20px;
  width: 20px;
}

.web-login-list {
  padding: 0 16px 16px;
}

.web-login-connect-text {
  color: #1f1f21;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 32px;
}

.web-login-connect-wallet-modal-dark .web-login-connect-text {
  color: #fff;
}

.web-login-wallet-item {
  display: flex;
  color: #1f1f21;
  background-color: #f4f4f4;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 16px;
  cursor: pointer;
}
.web-login-wallet-item img {
  width: 32px;
  height: 32px;
}

.web-login-wallet-list .web-login-wallet-item:last-child {
  margin-bottom: 0;
}

.web-login-connect-wallet-modal-dark .web-login-wallet-item {
  color: #fff;
  background-color: #1f1f21;
}

.web-login-connect-modal .web-login-connect-modal-header {
  display: none;
}
